/* font-family: 'Inconsolata', monospace;  */


/* CAROUSEL*/
.carousel-inner .carousel-item{
    height: 100vh;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{             /*background under the title*/
    background: rgba(192,192,192,50%);
    color: black;
    font-variant: small-caps;
}


/* SECTION 1*/

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btn-light{
    font-variant: small-caps;
}

.h5black{                /*h5 section 1*/
    font-size: 16px;
    color: #000;
}


/* SECTION 2*/

h5{                     /*h5 section 2*/
    font-size: 30px;
    color: #fff;
    justify-content: center;
}

.products .card-body{    /*Section 2*/  
    text-align: center;
}


/* SECTION CONTACT*/

.contact{  
    background: #eff2f5;
}

.contact .card-body{
    background: #eff2f5;
}

.send-button{
    margin-top: 5px;
}


/*SOCIAL MEDIA*/

.social-media{
    display: flex;
    justify-content: left;
}

.social-media a{
    display: flex;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    font-size: 20px;
    align-items: left;
    text-decoration: none;
    color: #2980b9;
}


/*FOOTER*/

.footer{
    background: #2c3e50;
    padding: 3px 0;
}

.footer p, far fa-copyright{
    color: #fff;
}

.card-body a{
    justify-content: space-around;
}
